
.card {
    background: rgba(255, 255, 255, 0.2);
    width:auto;
    max-width:900px;
    color: rgb(34, 33, 33);
    border-radius:10px;
}

.button {
    background-color: rgba(247, 2, 2, 0.1);
}

.fa-quote-left{
    font-size:2rem;}
