.header {
    color: rgb(36, 35, 35);
}

/* .header span{
    margin-left: 1px;
}
.first,.second{
    margin-bottom:1px;
}
 */
.header .first span:nth-child(4),
.header .first span:nth-child(5) {
    color: rgb(255, 241, 241);
}
