
body {
    margin: 0;
    background: url(./assets/cool-background.png) center/cover no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    min-height:100vh;
    font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center;
}

.loader {
    border: 9px solid rgba(255, 255, 255, 0.6); /* Light grey */
    border-top: 9px solid rgb(110, 110, 110); /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }