@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    box-sizing:border-box;
}
html,
body {
    margin: 0;
    background: url(./assets/cool-background.png) center/cover no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    min-height:100vh;
/*     font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center; */
}

